@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Roboto&display=swap');
.content {
    display: flex;
}

.page-heading {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 40px;
    font-weight: bolder;
}

.custom-line {
    width: 100px;
    color: gray;
}

.gallery-container {
    background-color: black;
    height: 90vh;
    width: 40vw;
    border-radius: 5px;
}