#content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 5px;
}

#dom-tree {
  flex: 30%;
  margin: 0;
  border: 1px solid black;
  overflow: auto;
  height: 100%;
  max-height: 75vh;
}

#preview {
    border: 1px solid black;
}

#page {
  flex: 70%;
  margin-left: 5px;
  border: 1px solid black;
}

#highlight {
  position: absolute;
  background-color: blue;
  opacity: 0.4;
  text-align: center;
  border: 1px solid red;
  box-sizing: border-box;
  pointer-events: none;
}

.dom-element.selected {
  background-color: yellow;
}

#basic-addon1 {
    margin-left: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}