{% extends "base.html" %} {% block title %}AlgoExperts{% endblock %} {% block
content %}
<form method="POST">
  <h3 align="center">Login</h3>
  <div class="form-group">
    <label for="email">Email or Username</label>
    <input
      type="text"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter Email or Username:"
    />
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      placeholder="Enter Password:"
    />
  </div>
  <button type="submit" class="login-btn">Login</button>
</form>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script>
  function onSignIn(googleUser) {
    var id_token = googleUser.getAuthResponse().id_token;
    var xhr = new XMLHttpRequest();
    xhr.open("POST", "/google-auth");
    xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
    xhr.send("idtoken=" + id_token);
  }
</script>
{% endblock %}
