{% block title %}AlgoExperts{% endblock title %}
{%block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <!-- Custom CSS-->
    <link 
    rel= "stylesheet" 
    type= "text/css" 
    href= "{{ url_for('static',filename='Edit/edit.css') }}">

    <title>Edit</title>
  </head>
  <body>

    <h1>Woah... A wild edit page...</h1>
    <div class="container-lg">
    <!-- Displays User Alerts --> 
    {% for category, message in get_flashed_messages(with_categories=true) %}
    {% if category == "error" %}
    <div class="alert alert-danger" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> 
    </div>

    {% elif category == "success" %} 
    <div class="alert alert-success" role="alert"> 
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    {% endif %} {% endfor %}

    <!-- Content -->
    <h2 id="sitename">{{name}}</h2>
    <div id="code-div">
        <textarea id="code" class="form-control" onkeyup="code_send();">{{code}}</textarea>
    </div>
    <div id="preview"></div>
    </div> 
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static',filename='Edit/edit.js') }}"></script>
  </body>
</html>
{% endblock content %}
