{% block title %} AlgoExperts {% endblock title %} {% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Flash Messages -->
    <link type="text/css" href="{{url_for('static', filename='Alerts/alerts.css')}}" />

    <!-- Custom CSS-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='Register/register.css') }}" />

    <title>Register</title>
</head>

<body>
    <!-- Displays User Alerts -->
    {% for category, message in get_flashed_messages(with_categories=true) %} {%
    if category == "error" %}
    <div classs="container p-5 full-alert">
        <div class="row no-gutters fixed-bottom">
            <div class="alert alert-gradient shadow" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true" style="color: #fff">&times;</span>
                </button>
                <h4 class="alert-heading-gradient">Uh, oh!</h4>
                <p class="lead mb-0">{{message}}</p>
            </div>
        </div>
    </div>

    {% elif category == "success" %}
    <div classs="container p-5 full-alert">
        <div class="row no-gutters fixed-bottom">
            <div class="alert alert-gradient shadow" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true" style="color: #fff">&times;</span>
                </button>
                <h4 class="alert-heading-gradient">Success!</h4>
                <p class="lead mb-0">{{message}}</p>
            </div>
        </div>
    </div>

    {% endif %} {% endfor %}
    <div class="header">
        <h2 class="header-title">Webitor</h2>
    </div>
    <div class="container">
        <div class="inner-container">
            <h1 class="content-title">Build your dreams - for free</h1>
            <button class="block-button google-sign-in-button" onclick="window.location.href = '/google-signin'">
                <img src="https://d3e54v103j8qbb.cloudfront.net/img/dashboard/google-icon.9285495463.svg" width="15"
                    height="15" />
                <span>Sign in with Google</span>
            </button>
            <p class="separation-text">or</p>
            <form method="POST">
                <input placeholder="First Name" type="text" class="block-input name-input" id="first-name"
                    name="first-name">
                <input placeholder="Last Name" type="text" class="block-input name-input" id="last-name"
                    name="last-name">
                <input placeholder="Email" type="text" class="block-input" id="email" name="email">
                <input type="password" class="block-input" placeholder="Password" id="password" name="password">
                <button class="block-button submit" type="submit">
                    <span class="login-text">Sign Up</span>
                </button>
            </form>
            <div class="bottom-links">
                <div class="smalltext-left">
                    <p class="smalltext-container">
                        Already have an account? <a class="smalltext" href="/login">Sign in</a>
                    </p>
                </div>
                <div class="smalltext-right">
                    <p class="smalltext-container">
                    </p>
                </div>
            </div>
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script src="{{url_for('static', filename='Index/index.js')}}"></script>
<script src="{{ url_for('static',filename='Register/register.js') }}"></script>
</body>

</html>
{% endblock content %}