{% block title %}AlgoExperts{% endblock title %} {%block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <!-- Flash Messages -->
    <link
      type="text/css"
      href="{{url_for('static', filename='Alerts/alerts.css')}}"
    />

    <!-- Custom CSS-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='Create/create.css') }}"
    />

    <title>Create</title>
  </head>

  <body>
    <div class="container-lg">
      <!-- Displays User Alerts -->
      {% for category, message in get_flashed_messages(with_categories=true) %}
      {% if category == "error" %}
      <div classs="container p-5 full-alert">
        <div class="row no-gutters fixed-bottom">
          <div class="alert alert-gradient shadow" role="alert">
            <button
              type="button"
              class="close"
              data-dismiss="alert"
              aria-label="Close"
            >
              <span aria-hidden="true" style="color: #fff">&times;</span>
            </button>
            <h4 class="alert-heading-gradient">Uh, oh!</h4>
            <p class="lead mb-0">{{message}}</p>
          </div>
        </div>
      </div>

      {% elif category == "success" %}
      <div classs="container p-5 full-alert">
        <div class="row no-gutters fixed-bottom">
          <div class="alert alert-gradient shadow" role="alert">
            <button
              type="button"
              class="close"
              data-dismiss="alert"
              aria-label="Close"
            >
              <span aria-hidden="true" style="color: #fff">&times;</span>
            </button>
            <h4 class="alert-heading-gradient">Uh, oh!</h4>
            <p class="lead mb-0">{{message}}</p>
          </div>
        </div>
      </div>

      {% endif %} {% endfor %}

      <!-- Content -->
      <form class="form-inline" method="POST">
        <div class="form-group" align="center">
          <div class="input-group">
            <label for="web-name"></label>
            <input
              type="text"
              class="form-control"
              id="web-name"
              name="web-name"
              placeholder="Enter Website Name:"
              required
            />
            <span class="input-group-addon">Style</span>
            <select name="web-style" class="option form-control">
              {% for i in styles %}
              <option value="{{ i }}">{{ i }}</option>
              {% endfor %}
            </select>
            <span class="input-group-addon">Type</span>
            <select name="web-type" class="option form-control">
              {% for i in types %}
              <option value="{{ i }}">{{ i }}</option>
              {% endfor %}
            </select>
          </div>
          <button type="submit" class="btn btn-default">Create</button>
        </div>
      </form>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="{{url_for('static', filename='Index/index.js')}}"></script>
    <script src="{{ url_for('static',filename='Create/create.js') }}"></script>
  </body>
</html>
{% endblock content %}
