.alert-gradient-success {
    background-image: linear-gradient(to top right, #22c1c3, #fdbb2d);
    border: none;
    border-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.alert-gradient-error {
    background-image: linear-gradient(to top right, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    border: none;
    border-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.alert-heading-gradient {
    color: #fff;
    font-weight: 900;
}

.alert {
    width: 97%;
    /*height:100px;*/
    margin: 0 auto;
}

.lead {
    font-size: 20px;
}